<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork21426264-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Data Wrangling Lab**

Estimated time needed: **45 to 60** minutes

In this assignment you will be performing data wrangling.

## Objectives

In this lab you will perform the following:

*   Identify duplicate values in the dataset.

*   Remove duplicate values from the dataset.

*   Identify missing values in the dataset.

*   Impute the missing values in the dataset.

*   Normalize data in the dataset.

<hr>

## Hands on Lab

Import pandas module.

In [57]:
import pandas as pd
import numpy as np

Load the dataset into a dataframe.

In [58]:
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv")

## Finding duplicates

In this section you will identify duplicate values in the dataset.

Find how many duplicate rows exist in the dataframe.

In [59]:
# your code goes here
TotalDuplicated=df.duplicated().sum()
#df.head(5) unique value respondent 
UniqueRespondent=df['Respondent'].duplicated().sum()
if (TotalDuplicated==UniqueRespondent):
    print("Duplicated values is:",TotalDuplicated)
else:
    print('look again')

Duplicated values is: 154

## Removing duplicates

Remove the duplicate rows from the dataframe.

In [60]:
# your code goes here
df.drop_duplicates(subset=['Respondent'],keep=False,inplace=True)

Verify if duplicates were actually dropped.

In [61]:
# your code goes here
TotalDuplicated=df.duplicated().sum() 
UniqueRespondent=df['Respondent'].duplicated().sum()
if (TotalDuplicated==UniqueRespondent):
    print("Duplicated values is:",TotalDuplicated)
elif (TotalDuplicated==UniqueRespondent & TotalDuplicated==0):
    print('Duplicated rows drop')
else:
    print('look for more duplicated')
len(df['Respondent'].axes[0])

Duplicated values is: 0

11305

## Finding Missing values

Find the missing values for all columns.

Find out how many rows are missing in the column 'WorkLoc'

In [62]:
# your code goes here
df.isnull().sum()

Respondent        0
MainBranch        0
Hobbyist          0
OpenSourcer       0
OpenSource       81
               ...
Sexuality       539
Ethnicity       670
Dependents      138
SurveyLength     19
SurveyEase       14
Length: 85, dtype: int64

In [63]:
 df['WorkLoc'].isnull().sum()

32

## Imputing missing values

Find the  value counts for the column WorkLoc.

In [64]:
# your code goes here
df['WorkLoc'].value_counts()

Office                                            6747
Home                                              3559
Other place, such as a coworking space or cafe     967
Name: WorkLoc, dtype: int64

Identify the value that is most frequent (majority) in the WorkLoc column.

In [65]:
#make a note of the majority value here, for future reference
#Office
df['WorkLoc'].value_counts().idxmax()

'Office'

Impute (replace) all the empty rows in the column WorkLoc with the value that you have identified as majority.

In [66]:
# your code goes here
df['Respondent'].dropna(inplace=True)
df['Respondent'].replace('',df['WorkLoc'].value_counts().idxmax(),inplace=True)

After imputation there should ideally not be any empty rows in the WorkLoc column.

Verify if imputing was successful.

In [67]:
# your code goes here
df['Respondent'].isnull().sum()

0

In [68]:
#df.drop_duplicates(subset=['EdLevel'],keep=False,inplace=True)
#df.drop_duplicates(subset=['Country'],keep=False,inplace=True)

In [69]:
#df['EdLevel'].isnull().sum() 110
#df['Country'].isnull().sum() 0

In [70]:
df['Employment'].value_counts()

Employed full-time    10880
Employed part-time      425
Name: Employment, dtype: int64

In [71]:
df['UndergradMajor'].value_counts().idxmin()

'A health science (ex. nursing, pharmacy, radiology)'

## Normalizing data

There are two columns in the dataset that talk about compensation.

One is "CompFreq". This column shows how often a developer is paid (Yearly, Monthly, Weekly).

The other is "CompTotal". This column talks about how much the developer is paid per Year, Month, or Week depending upon his/her "CompFreq".

This makes it difficult to compare the total compensation of the developers.

In this section you will create a new column called 'NormalizedAnnualCompensation' which contains the 'Annual Compensation' irrespective of the 'CompFreq'.

Once this column is ready, it makes comparison of salaries easy.

<hr>

List out the various categories in the column 'CompFreq'

In [74]:
# your code goes here
list(df['CompFreq'].unique())

['Yearly', 'Monthly', 'Weekly', nan]

Create a new column named 'NormalizedAnnualCompensation'. Use the hint given below if needed.

Double click to see the **Hint**.

<!--

Use the below logic to arrive at the values for the column NormalizedAnnualCompensation.

If the CompFreq is Yearly then use the exising value in CompTotal
If the CompFreq is Monthly then multiply the value in CompTotal with 12 (months in an year)
If the CompFreq is Weekly then multiply the value in CompTotal with 52 (weeks in an year)

-->

In [78]:
# your code goes here
#add NormalizedAnnualCompensation
df['NormalizedAnnualCompensation']=np.nan
df['NormalizedAnnualCompensation'] = np.where(
    df['CompFreq'] == 'Weekly', df['CompTotal']*52, np.where(
    df['CompFreq'] == 'Monthly', df['CompTotal']*12, df['CompTotal']))
df['NormalizedAnnualCompensation'].dropna(inplace=True)
df[['CompFreq','CompTotal','NormalizedAnnualCompensation']]

      CompFreq  CompTotal  NormalizedAnnualCompensation
0       Yearly    61000.0                       61000.0
1       Yearly   138000.0                      138000.0
2       Yearly    90000.0                       90000.0
3      Monthly    29000.0                      348000.0
4       Yearly    90000.0                       90000.0
...        ...        ...                           ...
11547   Yearly   130000.0                      130000.0
11548   Yearly    74400.0                       74400.0
11549   Yearly   105000.0                      105000.0
11550   Yearly    80000.0                       80000.0
11551      NaN        NaN                           NaN

[11305 rows x 3 columns]

In [79]:
df['NormalizedAnnualCompensation'].median()

100000.0

In [85]:
df["CompFreq"].value_counts()

Yearly     6018
Monthly    4753
Weekly      328
Name: CompFreq, dtype: int64

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork21426264-2022-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).